<% provide(:title, PAGE_ABOUT_NAME) %>
<% provide(:header, PAGE_ABOUT_NAME) %>
<div class="center jumbotron">
  <p>
    This is the <b>About</b> page for the CoffeeShopPH app.<br>
    This page is under construction.
  </p>
</div>
