<% provide(:header, PAGE_HOME_NAME) %>
<div class="center jumbotron">
  <p>
    Check out what's brewing in your store today.
  </p>
  <%= link_to "Tables", tables_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Orders", orders_path, class: "btn btn-lg btn-primary" %>
</div>
