<% if user.picture? %>
  <div>
  <%= image_tag user.picture.url,
                id: "user-image",
                size: "#{size}",
                alt: "#{user.name}'s Picture" %>
  </div>
<% else %>
  <div class="no-image no-image-<%= no_image_size %>">
    No available image
  </div>
<% end %>
