<% provide(:title, USERS_PAGE_TITLE) %>
<% provide(:header, @user.name) %>
<div class="center">
  <%= render partial: 'users/picture',
             locals: { user: @user,
                       size: "150",
                       no_image_size: "large" } %>
  <%= render partial: 'users/customers' %>
</div>
