<% provide(:title, ORDERS_PAGE_TITLE) %>
<% provide(:header, @order.name) %>
<div class="center">
  <div>
    <% if @order.served? %>
      <span class="label label-success">SERVED</span>
    <% else %>
      <span class="label label-warning">PENDING</span>
    <% end %>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item">PRICE: <%= @order.price %></li>
    <li class="list-group-item">QUANTITY: <%= @order.quantity %></li>
  </ul>
</div>
