<div class="panel panel-default" id="table">
  MAX: <span class="badge"><%= table.max_persons %></span>
  NOW: <span class="badge"><%= table.num_persons %></span>
  <% if table.occupied? %>
    <span class="label label-warning">OCCUPIED</span>
  <% else %>
    <span class="label label-success">FREE</span>
  <% end %>
</div>
