<% provide(:title, TABLES_PAGE_TITLE) %>
<% provide(:header, @table.name) %>
<div class="center">
  <%= render @table %>
</div>
<br>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Add Order</b>
    </div>
    <%= render 'orders/form' %>
  </div>
</div>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Orders: <%= @orders.count %></b>
    </div>
    <% if @orders.any? %>
      <ol class="list-group">
        <%= render @orders %>
      </ol>
    <% else %>
      <p>This table has no orders.</p>
    <% end %>
  </div>
</div>
