
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

/* --------------------------------- */
/* Conventions                       */
/* --------------------------------- */

$coffee:      #3e2200;
$gray:        #abb0ac;
$white:       #ffffff;
$black:       #000000;
$orange:      #ffa500;
$blue:        #0099ff;
$blue-green:  #7cc9d6;
$red:         #c9444d;

$large:       large;
$small:       small;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin colored-links ($display:$blue, $background:$white, $hover:$orange) {
  background-color: $background;
  color: $display;
  text-decoration: none !important;
  &:hover {
    color: $hover;
  }
}

@mixin no-image-sizing ($size) {
  @if $size == $large {
    width: 150px;
    height: 150px;
    padding: 30px;
    font-size: 20px;
  }
  @else {
    width: 80px;
    height: 80px;
    padding: 12px;
    font-size: 13px;
  }
}

/* --------------------------------- */
/* Universal Styles                  */
/* --------------------------------- */

body {
  padding-top: 60px;

  /*
    Add a bottom padding so that navbar-bottom does not
    block the content and prevent scrolling of containers.
  */
  padding-bottom: 90px;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

img {
  border-radius: 8px;
  border: 3px inset $blue;
}

a {
  @include colored-links;
}

.center {
  text-align: center;
}

.list-actions {
  margin-bottom: 10px;
  padding-right: 5px;
  text-align: right;
  .list-actions-danger {
    padding: 4px;
    @include colored-links($white, $red, $white);
  }
}

/* --------------------------------- */
/* Bootstrap                         */
/* --------------------------------- */

.navbar {
  background-color: $coffee;
  border-color: $white;
}

.nav.navbar-nav.navbar-right {
  li:not(.dropdown) a {
    @include colored-links($white, $coffee);
  }
  li.dropdown {
    a {
      @include colored-links($white, $coffee);
    }
    .dropdown-menu li a {
      @include colored-links($black, $white);
    }
  }
}

.btn {
  margin-right: 10px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.tables.list-group,
.orders.list-group,
.users.list-group {
  width: 50%;
  margin-left: 25px;
  .list-group-item:hover {
    background-color: $blue-green;
  }
  .list-group-item {
    overflow: scroll;
    img {
      margin-right: 10px;
    }
    .badge {
      margin-top: 17px;
    }
  }
}

.customers.list-group {
  .list-group-item:hover {
    background-color: $blue-green;
  }
}

.panel.panel-default#table-details {
  padding: 10px;
}

.panel.panel-default#customer-list {
  margin-top: 20px;
}

/* --------------------------------- */
/* Font Awesome                      */
/* --------------------------------- */

footer {
  .fa-cog {
    color: $white;
  }
  .fa-fw {
    text-align: right;
  }
}

/* --------------------------------- */
/* Forms                             */
/* --------------------------------- */

input, textarea, select, .uneditable-input {
  border-radius: 5px;
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input#user_picture {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* --------------------------------- */
/* Site Logo                         */
/* --------------------------------- */

#logo {
  @include colored-links($white, $coffee);
  font-size: 1.7em;
}

/* --------------------------------- */
/* Site Copyright                    */
/* --------------------------------- */

#copyright {
  color: $white;
  margin-top: 20px;
  margin-left: 0px;
}

/* --------------------------------- */
/* No Available Image                */
/* --------------------------------- */
//TODO: this should be replaced by a static default image

.no-image {
  border: 1px solid $gray;
  margin-left: auto;
  margin-right: auto;
  color: $gray;
}

.no-image-large {
  @include no-image-sizing($large);
}

.no-image-small {
  @include no-image-sizing($small);
}
